<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HasanEntities" connectionString="metadata=res://*/Data.HasanModel.csdl|res://*/Data.HasanModel.ssdl|res://*/Data.HasanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NC020E9;initial catalog=Hasan;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>