<li class="dropdown NavSubMenuUser">
    <a id="btnUser" href="JavaScript:;" class="CircleButton dropdown-toggle" title="Language" data-toggle="dropdown">
        <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x Back"></i>
            <i class="fa fa-user fa-stack-1x Face"></i>
        </span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @*<li><a href="@Url.Content("~/Notification")"><i class="fa fa-bell-o"></i> Notifications</a></li>*@
        <li><a href="@Url.Content("~/Profile")"><i class="fa fa-cog"></i> Profile</a></li>
        <li><a href="@Url.Content("~/Lock/LockWithClearCache")"><i class="fa fa-key"></i> Lock</a></li>
        <li><a href="@Url.Content("~/Login/LogOut")"><i class="fa fa-lock"></i> Logout</a></li>
    </ul>
</li>
