<div class="BrowserAlert">

    <strong>Eski ve desteklenmeyen bir internet tarayıcısı kullanıyorsunuz.</strong> Kullanımınız sırasında herhangi bir sorunla karşılaşmamak veya çalışmakta olduğunuz verilerde bozukluğa neden olmamak için lütfen <a target="_blank" href="http://outdatedbrowser.com">bu linke</a> tıklayarak internet tarayıcınızı seçip <a target="_blank" href="http://outdatedbrowser.com">güncelleyiniz</a> veya sistem yöneticinize danışınız.

    <span>Desteklediğimiz internet tarayıcıları: Internet Explorer 10 ve Üzeri, Firefox 35 ve Üzeri, Google Chrome 35 ve Üzeri, Opera 25 ve Üzeri, Internet Explorer Mobile 11 ve Üzeri, Firefox for Android 35 ve Üzeri, iOS Safari 8.1 ve Üzeri, Google Chrome for Android 40 ve Üzeri.</span>

    <strong>You are using an older and unsupported web browser.</strong> During your usage not to face any difficulties or not to cause any data broken, please update your browser by clicking this link and selecting your browser or consult your system administrator

    <span>We are currently supporting this browsers: Internet Explorer 10 and above, Firefox 35 and above, Google Chrome 35 and above, Opera 25 and above, Internet Explorer Mobile 11 and above, Firefox for Android 35 and above, iOS Safari 8.1 and above, Google Chrome for Android 40 and above.</span>

</div>
<!--
if
(
    (Browser == 'Internet Explorer' and Version < '10')
    or
    (Browser == 'Firefox' and Version < '35')
    or
    (Browser == 'Chrome' and Version < '35')
    or
    (Browser == 'Opera' and Version < '25')
    or
	(Browser == 'Safari' and Version < '7')
    or
    (Browser == 'Internet Explorer Mobile' and Version < '11')
    or
    (Browser == 'Firefox for Android' and Version < '35')
    or
    (Browser == 'Google Chrome for Android' and Version < '40')
    or
    (Browser == 'Safari on iOS' and Version < '8.1')
){ CSS.BrowserAlert.Display.block;}
-->
