<li class="dropdown NavSubMenuNotification">
    <a id="btnNotification" href="JavaScript:;" class="CircleButton dropdown-toggle" title="Notification" data-toggle="dropdown">
        <span class="fa fa-stack fa-2x">
            <span class="badge">4</span>
            <i class="fa fa-circle fa-stack-2x Back"></i>
            <i class="fa fa-bell-o fa-stack-1x Face"></i>
        </span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="@Url.Content("~/Notification")"><i class="fa fa-bell-o"></i> All Notifications</a></li>
        <li class="divider"></li>
        <li id="NotificationListPanel">
            <span><i class="fa fa-dot-circle-o"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit3333333333 2322...</a></span>
            <span><i class="fa fa-dot-circle-o"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a></span>
            <span><i class="fa fa-dot-circle-o"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a></span>
            <span><i class="fa fa-dot-circle-o"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a></span>
            <span><i class="fa fa-dot-circle-o"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a></span>
        </li>
        
    </ul>
</li>
