<div class="panel panel-default UnderGridToolbar">
    <div class="panel-body">

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Export All <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="JavaScript:;">Excel</a></li>
                <li><a href="JavaScript:;">CSV</a></li>
                <li><a href="JavaScript:;">JSON</a></li>
                <li><a href="JavaScript:;">XML</a></li>
                <li><a href="JavaScript:;">Text</a></li>
                <li><a href="JavaScript:;">PDF</a></li>
                <li><a href="JavaScript:;">SVG</a></li>
                <li><a href="JavaScript:;">Word</a></li>
                <li><a href="JavaScript:;">PNG</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Export Current <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="JavaScript:;">Excel</a></li>
                <li><a href="JavaScript:;">CSV</a></li>
                <li><a href="JavaScript:;">JSON</a></li>
                <li><a href="JavaScript:;">XML</a></li>
                <li><a href="JavaScript:;">Text</a></li>
                <li><a href="JavaScript:;">PDF</a></li>
                <li><a href="JavaScript:;">SVG</a></li>
                <li><a href="JavaScript:;">Word</a></li>
                <li><a href="JavaScript:;">PNG</a></li>
            </ul>
        </div>

    </div>
</div>