@using cornia.web.app.Resource;

<section class="container-fluid MainContent">

    <div class="row">
        <div class="col-sm-12">

            <div class="page-header FocusHeader">
                <h1>@cornia.web.app.Resource.Resource.Header_Welcome</h1>
            </div>

            <section class="panel">
                <div class="panel-body">





                </div>
            </section>

        </div>
    </div>



</section>